@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 190, 147;
  --background-end-rgb: 167, 199, 231;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 190, 147;
    --background-end-rgb: 167, 199, 231;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb)) 100vh
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
}

#MediaLineItemOuterContainer::before,
#MediaLineItemOuterContainer::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
}

#MediaLineItemOuterContainer::before {
  left: 0;
  background: linear-gradient(to right, #167, 199, 231 0%, transparent 100%);
}

#MediaLineItemOuterContainer::after {
  right: 0;
  background: linear-gradient(to left, #167, 199, 231 0%, transparent 100%);
}

#ActorLineItemOuterContainer::before,
#ActorLineItemOuterContainer::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
}

#ActorLineItemOuterContainer::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgb(7, 90, 106),
    199,
    231 0%,
    transparent 100%
  );
}

#ActorLineItemOuterContainer::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgb(9, 158, 188),
    199,
    231 0%,
    transparent 100%
  );
}

.aspect-ratio-container {
  position: relative;
  width: 100%;
  padding-top: 150%; /* for a 2:3 aspect ratio */
  overflow: hidden;
}
