@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 190, 147;
  --background-end-rgb: 167, 199, 231;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 190, 147;
    --background-end-rgb: 167, 199, 231;
  }
}

body {
  background: linear-gradient(-45deg, #ffbe93, #a7c7e7, #ffbe93, #a7c7e7);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#MediaLineItemOuterContainer::before,
#MediaLineItemOuterContainer::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
}

#MediaLineItemOuterContainer::before {
  left: 0;
  background: linear-gradient(to right, #167, 199, 231 0%, transparent 100%);
}

#MediaLineItemOuterContainer::after {
  right: 0;
  background: linear-gradient(to left, #167, 199, 231 0%, transparent 100%);
}

#ActorLineItemOuterContainer::before,
#ActorLineItemOuterContainer::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
}

#ActorLineItemOuterContainer::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgb(7, 90, 106),
    199,
    231 0%,
    transparent 100%
  );
}

#ActorLineItemOuterContainer::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgb(9, 158, 188),
    199,
    231 0%,
    transparent 100%
  );
}

.aspect-ratio-container {
  position: relative;
  width: 100%;
  padding-top: 150%; /* for a 2:3 aspect ratio */
  overflow: hidden;
}
