@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 34, 38, 38;
  --background-end-rgb: 0, 0, 0;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 38, 38;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#MediaLineItemOuterContainer::before,
#MediaLineItemOuterContainer::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
}

#MediaLineItemOuterContainer::before {
  left: 0;
  background: linear-gradient(to right, #202020 0%, transparent 100%);
}

#MediaLineItemOuterContainer::after {
  right: 0;
  background: linear-gradient(to left, #232222 0%, transparent 100%);
}

#ActorLineItemOuterContainer::before,
#ActorLineItemOuterContainer::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
}

#ActorLineItemOuterContainer::before {
  left: 0;
  background: linear-gradient(to right, #1b1a1a 0%, transparent 100%);
}

#ActorLineItemOuterContainer::after {
  right: 0;
  background: linear-gradient(to left, #2d2d2d 0%, transparent 100%);
}
